@import "tailwindcss";

@theme {
  --color-textColor: #841518;
  --color-primaryColor: #6d2323;
  --color-secondaryColor: #a2cd3a;
  --color-darkSC: #52b947;
  --color-darkerSC: #15a84f;
  --breakpoint-xs: 28rem;
  --breakpoint-xxs: 20rem;
}

@media (min-width: 310px) {
  .esm\:container {
    max-width: 310px;
  }
}

* {
  font-family: "Times New Roman", Times, serif;
}

body {
  background-color: #f3f3f3;
}

@media (min-width: 300px) {
  .clip-wave {
    clip-path: ellipse(100% 100% at 50% 100%);
  }
}

@media (min-width: 1024px) {
  .clip-wave {
    clip-path: ellipse(60% 100% at 0% 50%);
  }
}
